<%= form_for(@getaway) do |f| %>
<div class="box">
<%= render partial: 'layouts/errors', locals: {object: @getaway} %>
  <%= f.label :title, class: "label" %>
  <br />
  <%= f.text_field :title, class: "input" %>

<br />
  Number of <%= f.label :days %>
  <br />
  <%= f.number_field :days, min: 2, max: 4 %>
 <br />
  <%= f.fields_for :trips do |trip| %>
    <%= trip.label :road_trip, class: "label" %>
    <%= trip.check_box :road_trip %>

    <%= trip.label :flight, class: "label" %>
    <%= trip.check_box :flight %>
  <br />
    <%= trip.label :duration%> of Trip
    <br />
    <%= trip.text_field :duration, class: "input" %> Hours
  <% end %>

<br />

<h3 class="subtitle">Lodging Information</h3>
<%= f.fields_for :accommodations do |acc| %>
    <%= acc.label :name, class: "label" %>
    <br />
    <%= acc.text_field :name, class: "input" %><br>
<br />
    <%= acc.label :address, class: "label" %>
    <br />
    <%= acc.text_field :address, class: "input" %><br>

    <%= acc.label :city, class: "label" %>
    <br />
    <%= acc.text_field :city, class: "input" %><br>

    <%= acc.label :state, class: "label" %>
    <br />
    <%= acc.text_field :state, class: "input" %><br>
  <% end %>

<h3 class="subtitle"> Using a Travel Agency? </h3>
  <%= f.label :travel_agency_id, "Select Travel Agency", class: "label" %>
  <%= f.collection_select :travel_agency_id, TravelAgency.all, :id, :name, prompt: true %>
<br />
  <%= f.submit "Create Getaway", class: "button is-link is-fullwidth space" %>
  <% end %>
</div>
