<h1> Be Inspired by Getaways Created By Users Like You!</h1>

<% @getaways.each do |g| %>
<%= g.title %>
<% if g.accommodations %>
<% g.accommodations.each do |acc| %>
<%= acc.city %>
<% end %>
<% end %>
<%= link_to "See this Getaway", getaway_path(g), :class => "button is-fullwidth is-link"%>
<% end %>

<%= link_to "Create a Getaway", new_getaway_path, :class => "button is-fullwidth is-link" %>
<%= link_to "Return to Homepage", dashboard_path, :class => "button is-fullwidth is-link" %>
