<h1> <%= @getaway.title %> </h1>

<p> Created by: <%= @getaway.user.username %> </p>


<p>Destination: <%= @accommodation.city %>, <%= @accommodation.state %> </p>



<%= link_to "Back To Dashboard", dashboard_path, :class => "button is-fullwidth is-link"%>